.App {
    background-color: #fdc11b;
    text-align: center;
    height: 100vh; /* 100vh = 100% of viewport height */
  }
  
  .top-right-button {
    position: absolute;
    top: 1rem; /* 1rem = 1em (font size) */
    right: 1rem; /* 1rem = 1em (font size) */
  }
  
  .container {
    background-color: #473703;
    padding: 1.5rem; /* 1.5rem = 1.5em (font size) */
    height: 6rem; /* Adjust height as needed */
    position: relative;
  }
  
  .title {
    position: absolute;
    top: 1rem; /* 1rem = 1em (font size) */
    left: 1rem; /* 1rem = 1em (font size) */
    font-size: 1.875rem; /* Adjust font size as needed */
    margin-bottom: 1.25rem; /* Adjust margin as needed */
  }
  
  .text-box {
    margin-top: 1.25rem; /* Adjust margin as needed */
    background-color: #473703;
    border: 1px solid #333003;
    padding: 1rem; /* 1rem = 1em (font size) */
    width: 60vw; /* 60% of viewport width */
    margin: 0 auto; /* Center the text box horizontally */
    position: relative;
  }
